@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap'); /* 'Patrick Hand SC', cursive */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); /* 'Parisienne', cursive */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); /* 'Patrick Hand', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); /*'Shadows Into Light', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap'); /* 'Cabin Sketch', cursive */

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 300%;
    color: black;
    text-decoration: underline 2px  #bb0000;
    margin-bottom: 1%; 
}

h3 {
    font-size: 100%;
    font-weight: bold;
}

#faire {
    margin-top: 2%;
    font-family: 'Parisienne', cursive;
    font-size: 300%;
    color: #23395d;
    text-decoration: overline 2px wavy white;
}

i {
    font-weight: lighter;
    font-size: 100%;
}

.listicon {
    color: #23395d;
}

.listicon :hover {
    color: #bb0000;
}

#logo {
    color: #bb0000;
    font-size: 80%;
}

#addjobhere {
    border: solid white 0.1em;
    border-radius: 50%;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    color: slategray;
    font-size: 120%;
}

#addjobhere :hover {
    color: steelblue;
    cursor: pointer;
}

#count {
    font-family: 'Shadows Into Light', cursive;
    font-size: 150%;
    color: black;
    margin-left: 5%;
}

body {
    background-image: url('https://res.cloudinary.com/farahtasia/image/upload/v1673374071/static/images/background.928606ecdfca.jpg');
    background-size: 100%;
    background-color: antiquewhite;
    font-family: 'Shadows Into Light', cursive;
    font-size: 180%;
    font-weight: 700;
    color: #161616;
    line-height: 1.5em;
}

hr {
    height: 1px;    
}

.container {
    max-width: 550px;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    padding: 0.1rem;
}


#logingreeting {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 120%;
    color: #6b6e70;
    margin-left: 1%;
    margin-top: 1%;
}

.loginout {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 100%;
    color: steelblue;
}

@media only screen and (max-width: 579px) {
    h1 {
        margin-left: 5%;
    }

    #count {
        margin-left: 3%;
    }

    .navbar-brand {
        margin-left: -7%;
    }

    #addjobhere {
        margin-left: 3%;     
    }
  }