{% extends 'todo/base.html' %}

{% block content %}

<div class="container">
    <h5>You have {{ count }} incomplete task{{ count|pluralize:'s' }}.</h5>
<h1>Jobs to complete... </h1>

<form action="" method="get">
    <input type="text" name="search-area">
    <input type="submit" value="Search Job">
</form>

<div>
    {% for jobs in job %}
    <div>
        {% if jobs.done %}
            <div>
                <i><s><a href="{% url 'job-update' jobs.id %}">{{ jobs }}</a></s></i>
            </div>
            <a href="{% url 'job-delete' jobs.id %}" id="finished">X</a>
        {% else %}
        <div>
            <i><s><a href="{% url 'job-update' jobs.id %}">{{ jobs }}</a></s></i>
        </div>
        <a href="{% url 'job-delete' jobs.id %}" id="finished"></a>
    </div>
</div>

<table>
    {% for jobs in job %}
    <tr>
        <td>{{jobs.header}}</td>
        <td><a href="{% url 'job-detail' jobs.id %}">View</a></td>
        <td><a href="{% url 'job-create' %}">Add</a></td>
        <td><a href="{% url 'job-update' jobs.id %}">Update</a></td>
        <td><a href="{% url 'job-delete' jobs.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    <a href="{% url 'job-create' %}">Add New Item</a>
    {% endfor %}
</table>
</div>
{% endblock content %}