{% extends 'todo/base.html' %}

{% block content %}

<div class="container">
    <br>
    <div id="count">You have {{ count }} incomplete task{{ count|pluralize:'s' }}.</div>
<h1>Jobs to complete... </h1>
<br>
<p id="addjobhere"><a href="{% url 'job-create' %}" class="listicon">Add task  <i class="fa-solid fa-plus"></i></a></p>
<br>

<table class="table">
    {% for job in jobs %}
    <tr>
        <td class="w-auto">
            {% if job.done %}
            <td id="complete"><s>{{job.header}}</s></td>
        {% else %}
            <td id="incomplete">{{job.header}}</td>
        {% endif %}
        </td>
        <td class="listicon"><a href="{% url 'job-detail' job.id %}"><i class="fa-solid fa-magnifying-glass"></i></a>  </td>
        <td class="listicon th-sm"><a href="{% url 'job-update' job.id %}"><i class="fa-solid fa-pencil"></i></a>  </td>
        <td class="listicon th-sm"><a href="{% url 'job-delete' job.id %}"><i class="fa-solid fa-trash"></i></a>  </td>
    </tr>
    {% empty %}
    <h3>No jobs in your list</h3>
    <a href="{% url 'job-create' %}">Add a new task</a>
    {% endfor %}
</table>
</div>

{% endblock content %}