@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap'); /* font-family: 'Parisienne', cursive; */

h1 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 200%;
    font-weight: 180;
    color: #101111;
    text-decoration: wavy underline 2px navy;
}

i {
    font-size: 70%;
    color: black;
}

body {
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-color: antiquewhite;
    font-family: 'Delius', cursive;
    font-size: 180%;
    color: #161616;
}

